.chatDetail_header {
  height: 50px;
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.chatDetail_main {
  /* padding: 60px 10px 72px 10px; */
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 122px);
  /* height: 100vh; */
  flex: 1 1 0;
  align-items: flex-start;
  overflow-y: scroll;
  box-sizing: border-box;
  /* box-sizing: content-box; */
  background: #eaeaea;
}

.chatDetail_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 30px;
  background: rgba(0, 0, 0, 0.05);
  height: 74px;
  box-sizing: border-box;
  display: flex;
}

.chatDetail_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.chatDetail_input {
  border: none;
  outline: 0;
  user-select: auto;
  border-radius: 5px;
  /* 针对微信 */
  background: #fff;
  /* flex item 默认行为，高度同flex container */
  align-self: stretch;
  width: 80%;
}

.chatDetail_button {
  border: none;
  background: rgb(51, 136, 255);
  border-radius: 5px;
  width: 60px;
  height: 35px;
  color: rgb(255, 255, 255);
}

.chatDetail_button:focus {
  outline: none;
}
