.Dialog_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.Dialog_content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Dialog_title {
  padding-top: 25px;
  font-size: 18px;
}

.Dialog_errorMessage {
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.6);
}

.Dialog_confirm {
  width: 100%;
  height: 45px;
  border: none;
  border-top: 0.3px solid rgba(0, 0, 0, 0.6);
  background: transparent;
  color: #27408b;
  font-weight: bold;
}

.Dialog_confirm:focus {
  outline: none;
}
