.Friends_header {
  height: 50px;
  background: black;
  color: white;
  font-size: 10px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.Friends_main {
  padding: 60px 10px 10px 10px;
}

.Friends_friend {
  display: flex;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.3) solid 0.5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Friends_friendRequest {
  display: flex;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.3) solid 0.5px;
  padding-bottom: 10px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.acceptButton {
  border: none;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 45px;
  color: rgb(51, 136, 255);
  padding: 0 15px;
  height: 40px;
}

.acceptButton:focus {
  outline: none;
}

.Friends_friend_avatar {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}
