.home_planet {
  width: 100%;
  display: block;
}

.home_colorPlaceholder {
  height: 0px;
  background: #010101;
}

.home_wrapper {
  background: #0d0b08;
  height: 100vh;
  /* position: relative; */
}

.home_buttons {
  position: fixed;
  bottom: 50px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.home_buttons li {
  list-style: none;
}

.loginButton {
  width: 105px;
  height: 40px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 1);
  background: rgb(51, 136, 255);
  border: none;
}

.loginButton:focus {
  outline: none;
}

.signupButton {
  width: 105px;
  height: 40px;
  border-radius: 5px;
  color: rgb(51, 136, 255);
  background: rgba(255, 255, 255, 1);
  border: none;
}

.signupButton:focus {
  outline: none;
}
