.container {
  margin-top: 180px;
  padding: 0 20px;
}

.inputItem {
  padding: 10px;
  border-bottom: 1px rgb(51, 136, 255) solid;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 25px;
}

.inputNode {
  border: none;
  outline: 0;
  margin-left: 45px;
  user-select: auto;
  /* 针对微信 */
  background: transparent;
}

input::placeholder {
  color: rgb(167, 166, 166, 0.3);
}

input {
  caret-color: rgb(51, 136, 255);
}

.authButton {
  border: none;
  background: rgb(51, 136, 255);
  border-radius: 5px;
  width: 100%;
  margin-top: 50px;
  height: 45px;
  color: rgb(255, 255, 255);
}

.authButton:focus {
  outline: none;
}

.forbidden {
  opacity: 0.5;
}

.registerLink {
  color: black;
  /* position: fixed; */
  position: absolute;
  left: 50%;
  top: 600px;
  transform: translate(-50%);
  text-decoration: none;
}
