.me_item {
  display: flex;
  border-bottom: rgba(197, 137, 137, 0.3) solid 0.5px;
  align-items: center;
  justify-content: space-between;
}

.me_item.me_nameArea {
  padding-top: 30px;
  padding-bottom: 30px;
}

.me_item.me_avatarArea {
  padding-top: 10px;
  padding-bottom: 10px;
}

.me_item > img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.me_name {
  color: rgba(0, 0, 0, 0.3);
}

input[type="file"] {
  visibility: hidden;
  position: absolute;
}
