.protected_list_wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 30px;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
}

.protected_list_wrapper > li {
  list-style: none;
}

.protected_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 12px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.protecte_bottomIcon {
  margin-bottom: 5px;
}
