.SearchUser_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.SearchUser_input {
  border: none;
  outline: 0;
  user-select: auto;
  border-radius: 5px;
  /* 针对微信 */
  background: #fff;
  /* flex item 默认行为，高度同flex container */
  align-self: stretch;
  width: 80%;
  padding: 0 10px;
}

.SearchUser_button {
  border: none;
  /* background: rgb(51, 136, 255); */
  color: rgb(51, 136, 255);
  background: transparent;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  /* color: rgb(255, 255, 255); */
}

.SearchUser_button:focus {
  outline: none;
}
