.UserProfile_info {
  background: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.UserProfile_avatar {
  width: 65px;
  height: 65px;
  margin-right: 20px;
}

.UserProfile_button {
  border: none;
  background: rgb(51, 136, 255);
  border-radius: 5px;
  width: 90%;
  height: 45px;
  color: rgb(255, 255, 255);
}

.UserProfile_button:focus {
  outline: none;
}
