.Chat_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Chat_wrapper.is_my_msg {
  margin-left: auto;
}

.chat {
  margin: 10px 0;
  color: #2b2c33;
  padding: 10px;
  background: #fff;
  max-width: 90%;
  border-radius: 10px;
}

.chat.is_my_msg {
  background: rgb(51, 136, 255);
  margin-right: 10px;
  /* background: linear-gradient(90deg, #1986d8, #7b9cc2); */
  /* background: #2b2c33; */
}

.Chat_avatar {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-right: 10px;
}

.Chat_avatar.is_my_msg {
  margin-right: 0px;
}
