.FunnyPending_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.FunnyPending_huaji {
  display: block;
  width: 50px;
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}

.rotateSlowly {
  animation-duration: 10s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rotateQuckily {
  animation-duration: 2s;
  animation-name: rotate;
  animation-iteration-count: 5;
  animation-timing-function: linear;
}
