.GeneralHead {
  height: 50px;
  background: black;
  color: white;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.GeneralHead_title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
