.GeneralMain {
  /* padding: 60px 10px 10px 10px; */
  padding: 60px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1 1 0;
  align-items: center;
  overflow-y: scroll;
  box-sizing: border-box;
  background: #eaeaea;
}
