.room_container {
  display: flex;
  border-bottom: rgba(0, 0, 0, 0.3) solid 0.5px;
  padding: 10px;
}

.room_avatar {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.room_content {
  position: relative;
  flex: 1;
  padding: 5px 0;
}

.room_contact {
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
  text-overflow: ellipsis;
  color: black;
  font-size: 16px;
  margin-bottom: 5px;
}

.room_message {
  overflow: hidden;
  white-space: nowrap;
  max-width: 250px;
  text-overflow: ellipsis;
  color: #bebdc1;
  font-size: 12px;
}

.room_date {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: #bebdc1;
}
