@keyframes toastChange {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toast {
  /* display: none; */
  opacity: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 100px;
  font-size: 13px;
  background: #ffbb33;
  color: #fff;
  padding: 0px 30px;
  height: 25px;
  line-height: 25px;
  border-radius: 40px;
  text-align: center;
  animation: toastChange 6s;
  animation-timing-function: cubic-bezier(0, 1.07, 0.27, 1);
  /* animation-play-state: paused; */
}
