.transition-group {
  /* position: relative; */
}

.route-section {
  /* position: absolute; */
  /* width: 100%;
  top: 0;
  left: 0; */
  width: 100%;
  position: absolute;
}

.slide-enter {
  /* //opacity: 0.01; */
  transform: translateX(100vw);
  /* position: absolute; */
}

/* .slide-enter.slide-enter-active {
  transform: translateX(0);
  transition: translate 3000ms ease-in 3000ms;
} */

.slide-exit {
  transform: translateX(0);
}

/* .slide-exit.slide-exit-active {
  transform: translateX(-100vw);
  transition: translate 3000ms ease-in;
} */
